{% extends "layout.html" %}

{% block title %}
    Channels
{% endblock %}

{% block main %}
    <ul class="list-group">
        <li class="list-group-item ln-container01">
            <form action="/channels" method="post">
                <div class="form-group">
                    <label for="name">Channel Name</label>
                    <input autocomplete="on" autofocus class="form-control"  type="text" id="name" name="name" placeholder="Channel Name">
                </div>
        
                <button class="btn btn-dark" type="submit">Create Channel</button>
            </form>
        </li>
    </ul>

    <ul class="list-group pt-4 ln-group-width-auto">
        {% for channel in channels %}
            <li class="list-group-item ln-container01">
                <a class="ln-highlight" href="{{ url_for('channel_messages', id=channel.id) }}">{{ channel.name }}</a>
                created by
                {% if channel.creator.id == session.user_id %}
                    <a class="ln-highlight" href="{{ url_for('user_messages_sent', id=channel.creator.id) }}">{{ channel.creator.name }}</a>
                {% else %}
                    <a class="ln-highlight" href="{{ url_for('message_to_user', id=channel.creator.id) }}">{{ channel.creator.name }}</a>
                {% endif %}
                on
                <span class="ln-highlight">{{ channel.timestamp }}</span>
            </li>

                <div class="ln-group-divider"></div>
        {% else %}
            <li class="list-group-item ln-container01">No channels</li>
        {% endfor %}
    </ul>
{% endblock %}
