{% extends "layout.html" %}

{% block scripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <script id="channel" type="text/x-handlebars-template">
        {% raw -%}
            <li id="channel{{ channel.id }}" class="list-group-item ln-container01 channel-item item-show">
                <a class="ln-highlight" href="/channel-messages/{{ channel.id }}">{{ channel.name }}</a>
                created by
                {{#if same_user }}
                    <a class="ln-highlight" href="/user-messages-sent/{{ channel.creator.id }}">{{ channel.creator.name }}</a>
                {{else}}
                    <a class="ln-highlight" href="/message-to-user/{{ channel.creator.id }}">{{ channel.creator.name }}</a>
                {{/if}}
                on
                <span class="ln-highlight">{{ channel.timestamp }}</span>
            </li>
        {%- endraw %}
    </script>

    <script id="channel-none" type="text/x-handlebars-template">
        {% raw -%}
            <li id="channel-null" class="list-group-item ln-container01 item-show">No channels</li>
        {%- endraw %}
    </script>

    <script src="/static/scripts/channels.js"></script>
{% endblock %}

{% block title %}
    Channels
{% endblock %}

{% block main %}
    <ul class="list-group">
        <li class="list-group-item ln-container01">
            <form action="/channels" method="post">
                <div class="form-group">
                    <label for="name">Channel Name</label>
                    <input autocomplete="on" autofocus class="form-control"  type="text" id="name" name="name" placeholder="Channel Name">
                </div>
        
                <button class="btn btn-dark" type="submit">Create Channel</button>
            </form>
        </li>
    </ul>

    <ul id="channels" class="list-group pt-4 ln-group-width-auto">
        {% for channel in channels %}
            <li id="channel{{ channel.id }}" class="list-group-item ln-container01 channel-item item-hide">
                <a class="ln-highlight" href="{{ url_for('channel_messages', id=channel.id) }}">{{ channel.name }}</a>
                created by
                {% if channel.creator.id == session.user_id %}
                    <a class="ln-highlight" href="{{ url_for('user_messages_sent', id=channel.creator.id) }}">{{ channel.creator.name }}</a>
                {% else %}
                    <a class="ln-highlight" href="{{ url_for('message_to_user', id=channel.creator.id) }}">{{ channel.creator.name }}</a>
                {% endif %}
                on
                <span class="ln-highlight">{{ channel.timestamp }}</span>
            </li>

            <div class="ln-group-divider"></div>
        {% else %}
            <li id="channel-null" class="list-group-item ln-container01 item-hide">No channels</li>
        {% endfor %}
    </ul>
{% endblock %}
