<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            document.addEventListener('DOMContentLoaded', () => {

                // Initialize new request
                const request = new XMLHttpRequest();
                request.open('POST', '/', true);

                // Callback function for when request completes
                request.onload = () => {
                    window.location.href += "login";
                }

                // Add data to send with request
                const data = new FormData();

                const options = Intl.DateTimeFormat().resolvedOptions()
                data.append("locale", options.locale);
                data.append("timezone", options.timeZone);

                const d = new Date();
                data.append("timezone-offset", - d.getTimezoneOffset() * 60);

                // Send request
                request.send(data);
                return false;
            });
        </script>
    </head>

    <body>
    </body>
</html>