{% extends "layout.html" %}

{% block title %}
    Message to User
{% endblock %}

{% block main %}
    <ul class="list-group ln-group-width-auto">
        <li class="list-group-item ln-container01 ln-h03">
            from
            <span class="ln-highlight">{{ session.user.name }}</span>
            to
            <span class="ln-highlight">{{ user.name }}</span>
        </li>
    </ul>

    <ul class="list-group pt-4">
        <li class="list-group-item ln-container01">
            <form action="{{ url_for('message_to_user', id=user.id) }}" method="post">
                <div class="form-group">
                    <label for="text">Text</label>
                    <textarea autofocus name="text" id="text" class="form-control" rows= {{ text_config["rows_number"] }} maxlength={{ text_config["max_length"] }} placeholder="Text"></textarea>
                </div>
            
                <button class="btn btn-dark" type="submit">Send</button>
            </form>
        </li>
    </ul>
{% endblock %}
