{% extends "layout.html" %}

{% block title %}
    {% if channel is defined %}
        Message to Channel
    {% elif user is defined %}
        Message to User
    {% endif %}
{% endblock %}

{% block main %}
    <ul class="list-group ln-group-width-auto">
        <li class="list-group-item ln-container01 ln-h03">
            from
            <span class="ln-highlight">{{ session.user_name }}</span>
            {% if channel is defined %}
                to channel
                <span class="ln-highlight">{{ channel.name }}</span>
            {% elif user is defined %}
                to
                <span class="ln-highlight">{{ user.name }}</span>
            {% endif %}
        </li>
    </ul>

    <ul class="list-group pt-4">
        <li class="list-group-item ln-container01">
            {% if channel is defined %}
                <form enctype="multipart/form-data" action="{{ url_for('message_to_channel', id=channel.id) }}" method="post">
            {% elif user is defined %}
                <form enctype="multipart/form-data" action="{{ url_for('message_to_user', id=user.id) }}" method="post">
            {% endif %}
                <div class="form-group">
                    <label for="files[]">Select Files</label>
                    <input class="form-control" type="file" id="files[]" name="files[]" multiple>
                </div>
                <div class="form-group">
                    <label for="text">Text</label>
                    <textarea autofocus name="text" id="text" class="form-control" rows= {{ text_config["rows_number"] }} maxlength={{ text_config["max_length"] }} placeholder="Text"></textarea>
                </div>
                <button class="btn btn-dark" type="submit">Send</button>
            </form>
        </li>
    </ul>
{% endblock %}
