{% extends "messages.html" %}

{% block title %}
    User Messages
{% endblock %}

{% block messages_main %}
    <ul class="list-group ln-group-width-auto">
        <li class="list-group-item ln-container01 ln-h03">
            {% if user.name == session.user.name %}
                <span class="ln-highlight">{{ user.name }}</span>
            {% else %}
                <a class="ln-highlight" href="{{ url_for('message_to_user', id=user.id) }}">{{ user.name }}</a>
            {% endif %}
            registered on
            <span class="ln-highlight">{{ user.timestamp }}</span>,
            logged on
            <span class="ln-highlight">{{ user.logins[0].timestamp }}</span>
        </li>
    </ul>
{% endblock %}
