{% extends "layout.html" %}

{% block scripts %}
    <script id="user-loggedin" type="text/x-handlebars-template">
        {% raw -%}
            <li id="user-loggedin{{ user.current_logins.[0].id }}" class="list-group-item ln-container01 user-item {{ item_show_hide }}">
            </li>
        {%- endraw %}
    </script>

    <script id="user-loggedout" type="text/x-handlebars-template">
        {% raw -%}
            <li id="user-loggedout{{ user.current_logout.id }}" class="list-group-item ln-container01 user-item {{ item_show_hide }}">
            </li>
        {%- endraw %}
    </script>

    <script id="user-content" type="text/x-handlebars-template">
        {% raw -%}
            <a class="ln-highlight" href="/message-to-user/{{ user.id }}">{{ user.name }}</a>
            {{#if user.current_logins }}
                <span class="status-on">online</span> on
                <span class="ln-highlight">{{ user.current_logins.[0].timestamp }}</span>
            {{else}}
            <span class="status-off">offline</span>
            {{/if}}
            registered on
            <span class="ln-highlight">{{ user.timestamp }}</span>
        {%- endraw %}
    </script>

    <script id="user-none" type="text/x-handlebars-template">
        {% raw -%}
            <li id="user-null" class="list-group-item ln-container01 {{ item_show_hide }}">No users</li>
        {%- endraw %}
    </script>

    <script src="/static/scripts/users.js"></script>
{% endblock %}

{% block title %}
    Users
{% endblock %}

{% block main %}
    <ul id="users" class="list-group ln-group-width-auto">
        <div id="users-loggedin"></div>
        <div id="users-loggedout"></div>
        <div id="no-users"></div>
    </ul>
{% endblock %}
