{% extends "user-messages.html" %}

{% block user_messages_scripts %}
    <script id="user-message-received" type="text/x-handlebars-template">
        {% raw -%}
            <div id="message{{ message.id }}" class="message-item {{ item_show_hide }}">
                <div class="ln-group-divider"></div>
                <ul class="list-group pt-4">
                    <li class="list-group-item ln-container01">
                        from
                        <a class="ln-highlight" href="/message-to-user/{{ message.sender.id }}">{{ message.sender.name }}</a>
                        to
                        <a class="ln-highlight" href="/message-to-user/{{ message.receiver.id }}">{{ message.receiver.name }}</a>
                        on
                        <span class="ln-highlight">{{ message.timestamp }}</span>
                        <a class="btn btn-dark" role="button" href="/message-delete/{{ message.id }}">Delete</a>
                    </li>

                    <div id="message{{ message.id }}-files"></div>

                    <li class="list-group-item ln-container01">
                        <textarea readonly class="message-text-out" rows="{{ rows_number }}">{{ message.text }}</textarea>
                    </li>
                </ul>
            </div>
        {%- endraw %}
    </script>

    <script src="/static/scripts/user-messages-received.js"></script>
{% endblock %}

{% block title %}
    User Messages Received
{% endblock %}
