{% extends "layout.html" %}

{% block scripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

    <script id="user" type="text/x-handlebars-template">
        <li class="list-group-item ln-container01">
            <span class="ln-highlight">{% raw -%}{{ name }}{%- endraw %}</span>
            registered on
            <span class="ln-highlight">{% raw -%}{{ timestamp }}{%- endraw %}</span>
        </li>
    </script>

    <script src="/static/scripts/users.js"></script>
{% endblock %}

{% block title %}
    Users
{% endblock %}

{% block main %}
    <ul id="users" class="list-group pt-4 ln-group-width-auto">
        {% for user in users %}
            <li class="list-group-item ln-container01">
                {% if user.id == session.user_id %}
                    <span class="ln-highlight">{{ user.name }}</span>
                {% else %}
                    <a class="ln-highlight" href="{{ url_for('message_to_user', id=user.id) }}">{{ user.name }}</a>
                {% endif %}
                registered on
                <span class="ln-highlight">{{ user.timestamp }}</span>
                {% if user.current_logins %}
                    online
                    <span class="ln-highlight">{{ user.current_logins[0].timestamp }}</span>
                {% endif %}
            </li>

            <div class="ln-group-divider"></div>
        {% else %}
            <li class="list-group-item ln-container01">No users</li>
        {% endfor %}
    </ul>
{% endblock %}
