{% extends "layout.html" %}

{% block title %}
    User Messages
{% endblock %}

{% block main %}
    <ul class="list-group ln-group-width-auto">
        <li class="list-group-item ln-container01 ln-h03">
            <span class="ln-highlight">{{ channel.name }}</span>
            on
            <span class="ln-highlight">{{ channel.timestamp }}</span>
        </li>
    </ul>

    <div class="ln-group-divider"></div>

    <ul class="list-group pt-4 ln-group-width-auto">
        <li class="list-group-item ln-container01">
            <a class="btn btn-dark" role="button" href="{{ url_for('message', channel_name=channel['name']) }}">Send a Message</a>
        </li>
    </ul>

    {% for message in channel.messages %}
        <ul class="list-group pt-4">
            <li class="list-group-item ln-container01">
                by
                <span class="ln-highlight">{{ message.sender.name }}</span>
                on
                <span class="ln-highlight">{{ message.timestamp }}</span>
            </li>

            <li class="list-group-item ln-container01">
                <textarea readonly class="comment-out" rows= {{ messages_config.texts.rows_number }}>{{ message.text }}</textarea>
            </li>
        </ul>
        {% else %}
        <ul class="list-group pt-4">
            <li class="list-group-item ln-container01">No messages</li>
        </ul>
        {% endfor %}
{% endblock %}
