{% extends "layout.html" %}

{% block title %}
    Users
{% endblock %}

{% block main %}
    <ul class="list-group pt-4 ln-group-width-auto">
        {% if not users %}
            <li class="list-group-item ln-container01">No users</li>
        {% else %}
            {% for user in users %}
                <li class="list-group-item ln-container01">
                    {{ user.name }}
                    registered on
                    <span class="ln-highlight">{{ user.timestamp }}</span>,
                    logged on
                    <span class="ln-highlight">{{ user.login.timestamp }}</span>
                </li>

                <div class="ln-group-divider"></div>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
