$h6-color: orange;
$p-color: brown;

%section
{
    background: yellow;
}

.section1
{
    @extend %section;
    color: green;

    h6 
    {
        color: $h6-color
    }
}

.section2
{
    @extend %section;
    color: blue;

    div
    {
        p 
        {
            color: $p-color;
        }
    }
}


