nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    /*text-align: center;*/
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


/*main .form-control*/
{
    /* center form controls */
    /*display: inline-block;*/

    /* override Bootstrap's 100% width for form controls */
    /*width: auto;*/
}

.logo-front
{
    color: orange;
}

.logo-back
{
    background-color: black;
}

.comment-out
{
    width: 100%;
}
