.ln-marca-color
{
    color: orange;
}

.ln-marca-background-color
{
    background-color: black;
}

.ln-marca
{
    color: orange;
    background-color: black;
}

.ln-titulo1
{
    font-size: xx-large;
}

.ln-destaque
{
    font-weight: bold;
    font-style: italic;
}

.ln-enfase
{
    font-weight: bold;
}

.ln-rotulo
{
    font-style: italic;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: x-large;
}

nav .navbar-brand .ln-marca
{
    /* size for brand */
    font-size: xx-large;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    /*text-align: center;*/
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main form label
{
    font-style: oblique;
}

/*main .form-control*/
{
    /* center form controls */
    /*display: inline-block;*/

    /* override Bootstrap's 100% width for form controls */
    /*width: auto;*/
}

/*
.comment-out
{
    width: 100%;
}
*/

.rating-in
{
    width: auto
}

