{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block main_ul %}
    <li class="list-group-item">
        <div class="ln-titulo1">
            <span class="ln-destaque">{{ book.title }}</span>
            by
            <a class="ln-destaque" href="{{ url_for('books_by_author', author=book['author']) }}">
                {{ book.author }}
            </a>
            in
            <a class="ln-destaque" href="{{ url_for('books_in_year', year=book['year']) }}">
                {{ book.year }}
            </a>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <a class="btn btn-primary" role="button" href="{{ url_for('review', book_isbn=book['isbn'], user_id=session['user_id']) }}">
                    Do a Review
                </a>
            </li>
        
            {% if ratings_count > 0 %}
                <li class="list-group-item">
                    <span class="ln-rotulo">Average Rating:</span>
                    <span class="ln-enfase">{{ average_rating }}</span>
                </li>

                <li class="list-group-item">
                    <span class="ln-rotulo">Ratings Count:</span>
                    <span class="ln-enfase">{{ ratings_count }}</span>
                </li>
            {% endif %}
        
            {% if reviews %}
                <li class="list-group-item">
                    <span class="ln-rotulo">Comments Count:</span>
                    <span class="ln-enfase">{{ comments_count }}</span>
                </li>

                <li class="list-group-item">
                    <span class="ln-rotulo">Reviews Count:</span>
                    <span class="ln-enfase">{{ reviews_count }}</span>
                </li>
            {% endif %}

            <li class="list-group-item">
                <span class="ln-rotulo">Reviews</span>

                <ul class="list-group">
                    {% for review in reviews %}
                        <li class="list-group-item">
                            by
                            <span class="ln-destaque">{{ review.reviewer }}</span>
                            on
                            <span class="ln-destaque">{{ review.datetime }}</span>

                            <ul class="list-group">
                                {% if review.rating %}
                                    <li class="list-group-item">
                                        <span class="ln-rotulo">Rating:</span>
                                        <span class="ln-enfase">{{ review.rating }}</span>
                                    </li>
                                {% else %}
                                    <li class="list-group-item">
                                        <span class="ln-enfase">No rating</span>
                                    </li>
                                {% endif %}

                                {% if review.comment %}
                                    <li class="list-group-item">
                                        <pre>
                                            {{ review.comment }}
                                        </pre>
<!--
                                        <textarea readonly class="comment-out" rows= {{ reviews_conf.comments.rows_number }}>
                                            {{ review.comment }}
                                        </textarea>
-->
                                    </li>
                                {% else %}
                                    <li class="list-group-item">
                                        <span class="ln-enfase">No comment</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="list-group-item">
                            <span class="ln-enfase">No reviews</span>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </li>
{% endblock %}
