{% extends "/ln/ln-layout.html" %}

{% block product_head %}
    <!-- https://favicon.io/emoji-favicons/books/ -->
    <link href="/static/images/favicon.ico" rel="icon">

    <link href="/static/styles/style.css" rel="stylesheet">

    <title>
        Books Reviews: {% block title %}{% endblock %}
    </title>
{% endblock %}

{% block product_navbar %}
    <div class="collapse navbar-collapse" id="navbar">
        {% if session.user_id %}
            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/">Search</a></li>
            </ul>

            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>

                <!-- Default dropleft button -->
                <div class="btn-group dropleft">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ session["user_name"] }}</button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/unregister">Unregister</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                </div>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block product_name %}
    Books Reviews
{% endblock %}

{% block product_main %}
    {% if get_flashed_messages() %}
        <header>
            <div class="alert alert-primary border text-center" role="alert">{{ get_flashed_messages() | join(" ") }}</div>
        </header>
    {% endif %}

    <main class="container p-4 my-4 ln-container00">
        {% block main %}
        {% endblock %}
    </main>

    <footer class="small text-center text-muted">Data provided for free by <a href="https://www.goodreads.com/">goodreads</a>. View <a href="https://www.goodreads.com/about/terms">goodread’s Terms of Use</a>.</footer>
{% endblock %}
