<!DOCTYPE html>
<html lang="en">
    <head>
        {% block product_head %}
        {% endblock %}

        <link href="/static/styles/ln-style.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light ln-navbar-bg border">
            <a class="navbar-brand" href="/"><span class="ln-marca">LN</span></a>

            <a class="navbar-brand" href="/"><span class="ln-navbar-produto-nome ln-marca-color">{% block product_name %}{% endblock %}</span></a>

            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>

            {% block product_navbar %}
            {% endblock %}
       </nav>

       {% block product_main %}
       {% endblock %}
    </body>
</html>
