{% extends "layout.html" %}

{% block title %}
    Review
{% endblock %}

{% block main %}
    <ul class="list-estilo">
        <li>
            <a href="{{ url_for('book', isbn=book['isbn']) }}">{{ book.title }}</a>
            by
            <a href="{{ url_for('books_by_author', author=book['author']) }}">{{ book.author }}</a>
            in
            <a href="{{ url_for('books_in_year', year=book['year']) }}">{{ book.year }}</a>
        </li>
        <li>ISBN: {{ book.isbn }}</li>
    </ul>

    <br>

    <form action="{{ url_for('review', book_isbn=book['isbn'], user_id=session['user_id']) }}" method="post">
        
        Rating (Between {{ reviews_conf.ratings.min }} and {{ reviews_conf.ratings.max }})
        <br>
        {%if review.rating %}
            <input autocomplete="off" autofocus type="number" " name="rating" min="1" max="5" value={{ review.rating }}>
        {% else %}
            <input autocomplete="off" autofocus type="number" " name="rating" min="1" max="5">
        {% endif %}

        <br><br>

        Comment
        <br>
        {%if review.comment %}
            <textarea name="comment" class="comment-in" rows= {{ reviews_conf.comments.rows_number }} maxlength={{ reviews_conf.comments.max_length }} placeholder="Comment">{{ review.comment }}</textarea>
        {% else %}
            <textarea name="comment" class="comment-in" rows= {{ reviews_conf.comments.rows_number }} maxlength={{ reviews_conf.comments.max_length }} placeholder="Comment"></textarea>
        {% endif %}
        
        <br><br>

        <button class="btn btn-primary" type="submit">Sumbit</button>

    </form>

    {% endblock %}
